
<br><br>
<div class="d-flex justify-content-center border p-4 shadow">
  <%= form_with(model: @movie, url: movies_path, local: true) do |form| %>
        <h1 class="text-center">New Movie</h1>
    
  
      <div class="form-group">
        <%= form.label :name, "Nombre de la Película" %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :synopsis, "Sinopsis" %>
        <%= form.text_area :synopsis, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :director, "Director" %>
        <%= form.text_field :director, class: 'form-control' %>
      </div>

      <%= form.submit 'Guardar', class: 'btn btn-primary mt-3' %>
    
  <% end %>
</div>
